.wrapper {
  background: #fff;
  margin-top: 42px;
  border-radius: $radius;
  padding: 0 46px;
}

.big-nav {
  @include flex(row, flex-start, space-between);
  margin-bottom: 0px;

  a {
    @extend .h2;
    line-height: ($base-size*10);
    width: ($base-size*25);
    color: $color-light;
    font-size: ($base-size*2);
    font-family: $font-header;
    text-decoration: none;
    text-align: center;
    border-radius: $radius;
    margin-top: 73px;

    &[href="#order"]{
      background-image: url("../../images/main/pizza-1.jpg");
      background-size: cover;
    }

    &[href="#booking"]{
      background-image: url("../../images/main/pizza-2.jpg");
      background-size: cover;
    }


    &:hover {
      background: lighten($color-dark, 75%);
    }

  }

}

.openingHours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: ($base-size*10);
  background: $color-main;
  margin-top: ($base-size*2/3);
  border-radius: $radius;
  text-align: center;

  h1 {
    font-size: ($base-size*2);
    font-family: $font-header;
    color: $color-light;
    text-transform: uppercase;
    margin: 0;
    margin-top: 2px;
  }

  p {
    margin: 0;
    margin-top: 6px;
    text-transform: uppercase;
    font-size: ($base-size*1.2);
    color: $color-light;
    font-weight: $font-light;
  }
}

.opinions {
  margin: 100px 0;

  .carousel-indicators {
    bottom: -75px;

    .active {
      opacity: 0.5;
    }

    li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $color-dark;
      opacity: 0.25;
      margin: 0 10px;
    }
  }


  .carousel-inner {
    .carousel-item {
      img {
        height: ($base-size*16);
        width: ($base-size*16);
        object-fit: cover;
      }

      .carousel-caption {
        color: $color-dark;
        text-align: left;
        margin-left: 40px;
        right: auto;
        bottom: auto;
        left : auto;
      }
    }
  }
}

.carousel-caption {
  h5 {
    text-transform: uppercase;
    font-size: 15px;
  }

  p {
    margin-top: 17px;
    font-size: 15px;

    span {
      margin-top: 30px;
      font-style: italic;
    }
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 125px;

  .gallery-image {
    width: 195px;
    height: 195px;
    margin-bottom: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $radius;

    }
  }
}

